/* Cacher tous les éléments d'UI Sandpack pour une expérience 100% marque blanche */
.sp-preview-actions,
.sp-navigator,
.sp-preview-container .sp-stack,
.sp-console,
.sp-statusbar,
.sp-button,
.sp-tabs,
.sp-button[title="Console"],
.sp-icon-standalone {
  display: none !important;
  visibility: hidden !important;
}

/* Styles pour la wrapper Sandpack */
.sandpack-wrapper {
  width: 100%;
  height: 100%;
}

.sandpack-wrapper .sp-layout {
  height: 100%;
}

.sandpack-wrapper .sp-preview-container,
.sandpack-wrapper .sp-preview-iframe {
  height: 100% !important;
  background: white !important;
}
